[submodule "thirdparty/unix-utils"]
	path = thirdparty/bsd3/unix-utils/dist
	url = https://github.com/kohi-gnu/unix-utils.git
[submodule "thirdparty/chadlibc"]
	path = thirdparty/lgpl3/chadlibc/dist
	url = https://github.com/cute-engineering/chadlibc.git
[submodule "thirdparty/bsd3/mulderx/mulderX"]
	path = thirdparty/bsd3/mulderx/dist
	url = https://github.com/d0p1s4m4/mulderX.git
[submodule "thirdparty/bsd3/init/init"]
	path = thirdparty/bsd3/init/dist
	url = https://github.com/kohi-gnu/init
[submodule "thirdparty/gpl3/binutils/dist"]
	path = thirdparty/gpl3/binutils/dist
	url = https://github.com/d0p1s4m4/binutils.git
	branch = binutils-2_39-branch
	shallow = true
[submodule "thirdparty/gpl3/gcc/dist"]
	path = thirdparty/gpl3/gcc/dist
	url = https://github.com/d0p1s4m4/gcc.git
	branch = releases/gcc-12
	shallow = true
[submodule "thirdparty/bsd3/bmake/dist"]
	path = thirdparty/bsd3/bmake/dist
	url = https://github.com/d0p1s4m4/bmake.git
[submodule "thirdparty/gpl3/binutils/"]
	branch = binutils-2_39-QDNix-branch
[submodule "thirdparty/gpl3/gcc/dist/"]
	branch = gcc-12-QDNix-branch
[submodule "thirdparty/bsd3/ksh/dist"]
	path = thirdparty/bsd3/ksh/dist
	url = https://github.com/kohi-gnu/ksh.git
