.env/
.vscode/
*~
*.o
*.gcda
*.gcno
*.elf
*.ihx
*.bin
*.img
*.run
*.bin
*.rom

*.html
!/website/template/*.html
docs/html/

.config
.config.mk
config.h
*.old

.toolchain
*.sym
*.lst
*.asm

vmqdnix

build/

a.out

parser.tab.h
parser.tab.c
