.env/
.vscode/
*~
*.o
*.gcda
*.gcno
*.elf
*.ihx
*.bin
*.img
*.run
*.bin
*.rom

*.html
*.html*
!/website/theme/templates/*.html
docs/html/

.config
.config.mk
config.h
*.old

.toolchain
.build
.tools
*.sym
*.lst
*.asm

vmqdnix

build/
generated/

a.out

parser.tab.h
parser.tab.c

