mainmenu "QDNix configuration"

choice
	prompt "Architecture"
	default ARCH_ARM

config ARCH_ARM
	bool "ARM architecture"

config ARCH_ATHENA
	bool "Athena architecture"

config ARCH_RISCV64
	bool "RISC-V 64 architecture"

config ARCH_MIPS
	bool "MIPS architecture"

config ARCH_EZ80
	bool "eZ80 architecture"

config ARCH_6502
	bool "6502 architecture"

config ARCH_PDP11
	bool "PDP-11 architecture"

config ARCH_X86
	bool "x86 architecture"

endchoice

source "src/Kconfig"
source "test/Kconfig"
