mainmenu "QDNix configuration"

choice
	prompt "Architecture"
	default CPU_ARM

config CPU_ARM
	bool "ARM architecture"

config CPU_ATHENA
	bool "Athena architecture"

config CPU_RISCV64
	bool "RISC-V 64 architecture"

config CPU_MIPS
	bool "MIPS architecture"

config CPU_Z80
	bool "Z80 architecture"

config CPU_6502
	bool "6502 architecture"

config CPU_PDP11
	bool "PDP-11 architecture"

endchoice

source "make/Kconfig"
source "src/Kconfig"
source "test/Kconfig"
