menu "RISC-V architecture"
	depends on ARCH_RISCV64

	config ARCH
		string
		default "riscv"

	config RV64
		bool "64bit"
		default true

	choice
		prompt "Board"
		default BOARD_QEMU

		config BOARD_QEMU
			bool "QEMU-virtio"

		config BOARD_LICHEE_RV
			bool "Sipeed Lichee RV"

	endchoice

	config M_MODE
		bool "Machine mode"
		default false

endmenu

