
choice
	prompt "Toolchain"
	default SDCC if ARCH_Z80
	default GNU if ARCH_ATHENA
	default LLVM

config GNU
	bool "GNU"
	depends on ARCH_ARM || ARCH_ATHENA || ARCH_RISCV64 || ARCH_MIPS || ARCH_PDP11

config LLVM
	bool "LLVM"
	depends on ARCH_ARM || ARCH_RISCV64 || ARCH_MIPS

config CC65
	bool "CC65"
	depends on ARCH_6502

config SDCC
	bool "SDCC"
	depends on ARCH_Z80

endchoice

config TOOLCHAIN
	string
	default "gnu" if GNU
	default "llvm" if LLVM
	default "cc65" if CC65
	default "sdcc" if SDCC

choice
	prompt "Build Type"
	default DEBUG

config DEBUG
	bool "Debug"

config RELEASE
	bool "Release"

endchoice

menu "Debug Build Configuration"
	depends on DEBUG 

config BUILD_TYPE
	string
	default "debug"

config UBSAN
	bool "build with UBSAN"
	default false
	depends on GNU || LLVM

endmenu

menu "Release Build Configuration"
	depends on RELEASE 

config BUILD_TYPE
	string
	default "release"

endmenu
